<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'gamerank_core:home' %}">GameRank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'gamerank_core:home' %}">Home</a>
        </li>
        {# Add other nav items here #}
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if request.session.auth %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ request.user.profile.display_name|default:request.user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'gamerank_users:user_dashboard' %}">Dashboard</a></li>
              <li><a class="dropdown-item" href="{% url 'gamerank_users:user_votes' %}">My Votes</a></li>
              <li><a class="dropdown-item" href="{% url 'gamerank_users:user_follows' %}">My Follows</a></li>
              <li><a class="dropdown-item" href="{% url 'gamerank_users:user_settings' %}">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'gamerank_users:logout' %}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gamerank_users:login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav> 